$primary-color: linear-gradient(225deg, #f0cc4a 0%, #f3c623 100%);
$secondary-color: linear-gradient(225deg, #f7f5e9 0%, #faeee7 100%);
$box-color: rgb(190, 189, 189);
$secondary-font-color: #f7f5e9; 
$font-color: #060A24;

$principal-font: 'Dosis', sans-serif;
$secondary-font: 'Bebas Neue', cursive;
